         body {
        /*background: url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
        
        background-size: cover;
        background-position: center; 
        transition: background 1.5s linear;
        -webkit-backface-visibility: hidden;
             background-color: #2E2E2E;
        webkit-transition: background-image 1.5s linear;
        -webkit-transform:translate3d(0,0,0);
            width: 100%;
        height: 100%;
    }

    body,
    html {
        width: 100%;
        height: 100%;
        /*font-family: "Lato";*/
        background-color: #2E2E2E;
        color: #868E96;
    }

    .bg-dark {
        background-color: #222222!important;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .navbar-expand-lg{

    	padding-top: 0em;
    	padding-bottom: 0.1em;
    }

    .clr{
    	background-color: rgba(0,0,0,0.2);
    	border: 0px;
    	border-bottom: 1px solid rgba(0,0,0,0.1);
    	border-right: 1px solid rgba(0,0,0,0.1);

    }

    #content{
    	padding-top: 12%;
    	padding-left: 33%;
    	padding-right: 33%;
    	padding-bottom: 12%;
    }

    h1{
    	padding-bottom: 0.2em;
    	text-shadow:	0px 3px 3px rgba(0,0,0,0.4),
    					0px 8px 13px rgba(0,0,0,0.1),
    					0px 5px 23px rgba(0,0,0,0.1);
    }


    #free-style{
        padding-left: 0em;
        padding-right: 0em;
        width: 100%;
        margin-top: 1em;
        height: 100%;
    }

    .free-size{
        padding-left: 0px;
        padding-right: 0px;
    }

    img{
            max-height: 30em
    }

    iframe{
        width: 100%;
        height: 18em;
    }

    .card{
        background-color: #191818
    }

    textarea{
        width:35%;
        display: block;
        padding: .5rem 1rem;
        margin-right: 2em;
        margin-left: 15%;

    }
    #cancel{
        margin-left: 0;
    }

    .paddings{
        display: block;
        padding: .5rem 1rem;    
    }

    .links{

        color: #868E96;
    }
    .links:hover{
        color: #565656;
    }

    .list-group-item{
           border: 1px solid rgba(0, 0, 0, 0.46);
           background-color: rgba(255, 255, 255, 0);
    }

    #hi{
        width: 100%;
    }

    
@media (min-width: 768px) {  
  .card-columns {column-count: 2;}
}

@media (min-width: 992px) { 
 .card-columns {column-count: 2;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 2;} 
}

@media (min-width: 576px) {  
   .card-columns {column-count: 2;} 
}
